:root{
  --primary: linear-gradient(180deg, #EA4F32 0%, #F06B52 0.01%, #F45033 0.02%, #E80F5D 100%);
  --white: #ffffff;
  --pink-light: #FFABAB;
  --orange: #F0694F;
  --pink-dark: #E80F5D; 

}

body , html{
  width: 100%;
  height: 100%;
  display: flex;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  left: 0px;
  top: 0px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  
}

#root{

  background: var(--primary);
  flex: 1;
}

/*HOME PAGE*/

#body_logo{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}


.logo {
  margin-top: 30vh;
  width: 202px;
  
  
  
}

.logo img {
  width: 202px;
  height: 78px;
  left: 88px;
}

.logo_text{
bottom: 70px;
}

p{
  
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: var(--pink-light);
}

/*LOGIN PAGE*/


#login{
  margin-top: 100px;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  
}

.logo_login{
  
  width: 202px;
  height: 80px;
}

.login_text1{
  height: 88px;
  width: 242px;
  

}


h2{
  
  margin-left: -30px;
  color: var(--white);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  

}

h4{
  color: var(--white);
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--pink-light);
}

.login_text2{
  margin-top: -40px;
}

button{
  
  align-items: center;
  width: 223px;
  height: 75px;
  border-radius: 70px;
  border: solid 2px var(--white);
  background-color: transparent;
  color: var(--white);
}

.sign_up .log_in{
  border: none;
  color: var(--pink-light);
}

.sign_up{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*SIGN UP*/

.signup{

  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  
}

.back{
  width: 11px;
  height: 23px;
  margin-left: -100px;
}

.signup>h3{
  margin-left: -30px;
  color: var(--white);
  font-weight:700;
  font-size: 36px;
  line-height: 43.57px;

}

.back>button{
  border:transparent;
}

.login-box {
  
  padding: 40px;
  height: 320px;
  box-sizing: border-box;
  
}

.input_name input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}



.input_mail input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}



.input_password input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--pink-light);
  opacity: 1; /* Firefox */
  text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--pink-light);
  text-align: center;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--pink-light);
  text-align: center;
}

.icons{
  width: 137.01px;
  height: 36.89px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup p{

  margin-top: -20px;
}

a{
  cursor: pointer;
  text-decoration: none;

}

/*TUTORIAL*/

#tutorial_friends{
  margin: 0 20px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;

}

#tutorial_friends>.logo_small{
  left:80vw;
  top: 36px;
  width: 70px;
  height: 46px;
  position: fixed;
}

.friends{
  height: 86px;
  width: 86px;
  justify-content: center;
}

.tutorial_box{
  margin-top:100px;
  margin-left:0px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  
}

.tutorial_box p{
  text-align: left;
  line-height: 18px;
  font-weight: 400;
  margin-left: 20px;

}

.ellipse{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.ellipse img{
  margin-left: 14px;
  width: 9px;
}

.scip{
  text-align: center;
  margin-bottom: 100px;
}


.tutorial_up{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

/*TUTORIAL_B*/

#tutorial_main{
  margin: 0 20px 20px 0x;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;

  
}

#tutorial_main>.logo_small{

  left:80vw;
  top: 36px;
  width: 70px;
  height: 46px;
  position: fixed;
}


.tutorial_back_button{
  position : absolute;
  top: 36px;
  left: 20px;
  width: 11px;
  height: 23px;
  margin-bottom: 10px;
  border:transparent;
}

.tutorial_plane{
  
  margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  box-sizing: border-box;
}

.tutorial_main h2{
  margin-top: 20px;
  text-align: left;
  
}

.plane{
  height: 86px;
  width: 86px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.tutorial_b_text2{

  margin-left: 0px 38px 0px 50px;
  text-align: left;
}

.tutorial_b_text2 p{
  text-align: left;
  line-height: 18px;
  font-weight: 400;
  margin: 0px 20px 0px 50px;

}



/*TUTORIALC*/

.tutorialc_main{
  margin: 0 20px 20px 0x;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;

  
}

.tutorialc_main .logo_small{

  left:80vw;
  top: 36px;
  width: 70px;
  height: 46px;
  position: fixed;
}

.tutorial_up{
  
  margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  box-sizing: border-box;
}

.tutorial_c_text2{

  text-align: left;
}

.tutorial_c_text2 p{
  text-align: left;
  line-height: 18px;
  font-weight: 400;
  margin: 0px 20px 0px 50px;

}


/*TUTORIALD*/

.happy{
  margin: 0 20px 20px 0x;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;


}

.happy .logo_small{

  left:80vw;
  top: 36px;
  width: 70px;
  height: 46px;
  position: fixed;
}

.tutorial_d_box{
  
  margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  box-sizing: border-box;
}

.tutorial_d_text2{

  text-align: left;
}

.tutorial_d_text2 p{
  text-align: left;
  line-height: 18px;
  font-weight: 400;
  margin: 0px 20px 0px 50px;

}

/*TUTORIALE*/

.tutoriale{
  margin: 0 20px 20px 0x;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;


}

.tutoriale .logo_small{

  left:80vw;
  top: 36px;
  width: 70px;
  height: 46px;
  position: fixed;
}

.tutorial_e_box{
  
  margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  box-sizing: border-box;
}

.tutorial_e_box h2{
  margin-left: 50px;
}

.tutorial_e_box p{
  margin: 10px 0px 30px -80px;
  
}


/*QUESTIONAIRE*/

.questionaire{
  margin: 0 20px 20px 0x;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;

}

.questionaire .logo_small{

  left:80vw;
  top: 36px;
  width: 70px;
  height: 46px;
  position: fixed;
}



.questionaire_box h2{
  margin-left: -200px;
  margin-bottom: 30px;
}

.questionaire_box p{
  margin-left: -200px;
  color: #fff;
  margin-bottom: 10px;
}


.questionaire_button{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


.buttons{
  width: 133px;
  height: 133px;
  border-radius: 20px;
  border: transparent;
  margin: 10px;
}



a{
  margin-top: 50px;
  color: var(--pink-light);
  cursor: pointer;
  text-align: center;
}

/*QUESTIONAIREB & QUESTIONAIREC*/

.questionaireb , .questionairec , .questionaired , .questionairef{
  margin: 0 20px 20px 0x;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;

}

.questionaireb .logo_small , .questionairec .logo_small , .questionaired .logo_small , .questionairee .logo_small , .questionairef .logo_small{

  left:80vw;
  top: 36px;
  width: 70px;
  height: 46px;
  position: fixed;
}

.questionaire_box{
  
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  box-sizing: border-box;
  padding: 0px 40px 0px 40px;
  height: 320px;
  box-sizing: border-box;
  
}

.questionaire_box h2{
  margin-left: -200px;

}

.questionaire_box p{
  margin-left: -200px;
  color: #fff;
  margin-bottom: 10px;
}

.questionaireb_button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.buttons_text{
  width: 133px;
  height: 133px;
  border-radius: 20px;
  margin: 10px;
}

/*QUESTIONAIRED*/

.questionaired>.questionaire_box h2{
  margin-bottom: 20px;
}


.live_in input, .advices_for input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.live_in>label , .advices_for>label{
  
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;
}

.questionaired>a{
  text-align: center;
}

.questionaired_box_button{
  width: auto;
  align-self:flex-end;
  border-color: transparent;
  color: var(--pink-light);
  padding: 0;
}


/*QUESTIONAIREE !!!!!!!!!!!!!!!!!!!!!!!!!!*/

.questionairee{
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}


.questionairee_button{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
  justify-self: center;
  height: auto;



}

.questionairee_box>h2{

text-align: auto;
}

.questionairee_box{
  margin-top: 200px;
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  box-sizing: border-box;
  padding: 0px 40px 0px 40px;
  
  
}

.questionairee>.done{
  
  margin-bottom: 10px;
}

/*QUESTIONAIREF*/

.questionairef_box{
  
  width: 279px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  

}

.questionairef_box>h2{
  margin-bottom: 20px;
  margin-left: -10px;
}

.questionairef_box>.done{
  margin: 0 auto;
}

/*LOCALS PAGE*/

.local{
  margin-top: 100px;
  height: 80%;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.local>.logo_small{

  left:80vw;
  top: 36px;
  width: 70px;
  height: 46px;
  position: fixed;
}

.local_box{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}

.local_box>h2{
  margin-top: 20px;
  
}

.local_box>button{
  width: 116px;
  height: 116px;
}

.local_box>form{
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.local_box>form>input{
  border-radius: 20px;
  border: 2px solid #fff;
  color: white;
  background: none;
  height: 36px;
  padding-right: 115px;
  margin-top: 20px;
}



/*LOCAL_SEARCH*/

.submit_search{
  border: none;
}

.filter_search{
  border:none;
}

.cards{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  

}

.card{
  width: 281px;
  height: 332px;
  background-color: var(--white);
  border-radius: 26px;
  margin-top: 24px;
}


/*FILTER*/

#filter{
  background-color: var(--white);
  color: var(--pink-dark);
}

.filter_search{
  color: var(--pink-dark);
}

.gender{
  display: flex;
  flex-direction: row;
  left:0;
}
.gender>button{
  color: var(--pink-dark);
}









