:root{
  --primary: linear-gradient(180deg, #EA4F32 0%, #F06B52 0.01%, #F45033 0.02%, #E80F5D 100%);
  --white: #ffffff;
  --pink-light: #FFABAB;
  --orange: #F0694F;
  --pink-dark: #E80F5D; 

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  left: 0px;
  top: 0px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  
}

#root{
  width: 390px;
  min-height: 844px;
  background: var(--primary);
  
}

/*HOME PAGE*/

#body_logo{
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
align-content: center;
}


.logo {
  
  width: 202px;
  height: 78px;
  top: 367px;
  
}

.logo img {
  width: 202px;
  height: 78px;
  left: 88px;
}

.logo_text{
bottom: 70px;
}

p{
  
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: var(--pink-light);
}

/*LOGIN PAGE*/


#login{
  top: 367px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  
}

.logo_login{
  margin-top: 110px;
  width: 202px;
  height: 80px;
}

.login_text1{
  height: 88px;
  width: 242px;
  left: 50px;
  top: 274px;
  border-radius: nullpx;

}
h2 , h4{
  color: var(--white);
}

h2{
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: left;

}

h4{
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--pink-light);
}

.login_text2{
  margin-top: -120px;
}

button{
  
  align-items: center;
  width: 223px;
  height: 75px;
  border-radius: 70px;
  border: solid 2px var(--white);
  background-color: transparent;
  color: var(--white);
}

.login_text3{
  margin-top:-100px;
}

/*SIGN UP*/

.signup{

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 367px;
  justify-content: space-around;
  align-content: center;
  
}

.back{
  width: 11px;
  height: 23px;
  margin-left: -100px;
}

.signup>h3{
  color: var(--white);
  font-weight:700;
  font-size: 36px;
  line-height: 43.57px;
  margin-left: -100px;
}

.back>button{
  border:transparent;
}

.login-box {
  

  padding: 40px;
  height: 320px;
  box-sizing: border-box;
  
}

.input_name input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}



.input_mail input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}



.input_password input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--pink-light);
  opacity: 1; /* Firefox */
  text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--pink-light);
  text-align: center;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--pink-light);
  text-align: center;
}

.icons{
  width: 137.01px;
  height: 36.89px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup p{

  margin-top: -20px;
}

a{
  cursor: pointer;
  text-decoration: none;

}

/*TUTORIAL*/

#tutorial_friends{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.tutorial_box{
  display: flex;
  flex-direction: column;
}

.tutorial_up{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

/*TUTORIAL_B*/


.tutorial_back_button{
  width: 11px;
  height: 23px;
  margin-bottom: 10px;
  border:transparent;
}



/*QUESTIONAIRE*/

.questionaire_button{
  display: flex;
  flex-direction: row;
}



.buttons{
  width: 133px;
  height: 133px;
  border-radius: 20px;
  border: transparent;
}

.buttons_text{
  width: 133px;
  height: 133px;
  border-radius: 20px;
}

a{
  color: var(--pink-light);
  cursor: pointer;
  text-align: center;
}

/*QUESTIONAIRE_BOX*/

.questionaire_box {
  
  padding: 40px;
  height: 320px;
  box-sizing: border-box;
  
}

.live_in input, .advices_for input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.questionaire_box>form>p{
  text-align: left;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;
}

.questionaired>a{
  text-align: center;
}

.questionaire_box_button{
  border-color: transparent;
  color: var(--pink-light);
}

.questionairee_button{
  width: 279px;
  height: 717px;
}

/*LOCAL_SEARCH*/

.submit_search{
  border: none;
}

.filter_search{
  border:none;
}

.cards{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  

}

.card{
  width: 281px;
  height: 332px;
  background-color: var(--white);
  border-radius: 26px;
  margin-top: 24px;
}


/*FILTER*/

#filter{
  background-color: var(--white);
}









